// --- COLORS ---
$text-color: #000103;
$body-background-color: #fcfcfc;
$theme-color: #0091ad;
$secondary-color: #1e3888;
$tertiary-color: #f8f9fa;
$accent-color: #ff686b;

//--- FONTS ---
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
$text-font: "Roboto", Arial, sans-serif;

//--- SIZES ---
$content-width: 960px;
$header-height: 90px;
$footer-height: 90px;
$font-size: 1.6rem;
